<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>
<!-- Main Content -->
<main>
  <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Welcome to the <%= title %> page</h1>
    <p class="lead">Obad Al Jabberi - Networking & IT Security Student</p>
    <p>A passionate cybersecurity student at Ontario Tech University, specializing in networking and IT
                    security, with a strong foundation in software design from Queen's University. With expertise in
                    Java, Python, C++, and database management, I excel in developing secure, efficient systems. My
                    projects include inventory management and student grade systems, demonstrating my problem-solving
                    abilities and attention to detail. I aim to contribute innovative solutions in cybersecurity and
                    software development.</p>
    <div class="links">
        <a href="/about">
          <i class="fa-solid fa-address-card"></i>
          <span>About Me</span>
        </a>
        <a href="/projects">
          <i class="fa-solid fa-code"></i>
          <span>Projects</span>
        </a>
        <a href="/contact">
          <i class="fa-solid fa-envelope"></i>
          <span>Contact</span>
        </a>
    </div>
    <div class="headshot">
      <img src="/assets/images/headshot.jpg" alt="test headshot">
    </div>
  </div>
</div>
</main>
<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>